---
import { differenceInYears, getYear } from 'date-fns';
import { RxArrowTopRight } from 'react-icons/rx/index.js';
import { getCollection } from 'astro:content';
import Layout from '../layout/default.astro';
import ConditionalLink from '../components/ConditionalLink.astro';
import List from '../components/List.astro';

const work = (await getCollection('work')).sort(
	(a, b) => b.data.start.valueOf() - a.data.start.valueOf()
);

const workCutoff = 10;
const recentWork = work.filter(
	role =>
		!role.data.end ||
		differenceInYears(new Date(), role.data.end) <= workCutoff
);

const previousWork = work
	.filter(
		({ data: { end } }) =>
			end && differenceInYears(new Date(), end) > workCutoff
	)
	.map(({ data: { company } }) => company)
	.reduce(
		(a, b, i, array) => a + (i < array.length - 1 ? ', ' : ', and ') + b
	);

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const speaking = (await getCollection('speaking')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<style>
	.current a,
	.previous a {
		@apply underline underline-offset-4 decoration-3 decoration-accent font-semibold hover:decoration-4 whitespace-nowrap;
	}

	@media (min-width: 1100px) and (max-width: 1310px) {
		.previous {
			max-width: 980px;
		}
	}
</style>
<Layout>
	<section class="space-y-2 text-3xl leading-snug mt-7 lg:space-y-1">
		<h1 class="mb-4 text-4xl font-bold">Matt Felten</h1>
		<p class="current">
			Currently I lead design and frontend engineering at <a
				href="//missioncloud.com">Mission Cloud</a
			>.
		</p>
		<p class="previous">
			Previously I lead teams and design systems at <a
				href="//servicetitan.com">ServiceTitan</a
			>, <a href="//youcaring.com">YouCaring</a>, & <a
				href="//dreamhost.com">DreamHost</a
			>
		</p>
	</section>
	<section>
		<h3 class="mb-1 font-bold opacity-70">Roles</h3>
		<ol class="space-y-5">
			{
				recentWork.map(
					({ data: { company, start, end, role, website } }) => {
						const rangeEnd = end ? getYear(end) : 'Now';
						const timeRange = `${getYear(start)} — ${rangeEnd}`;
						return (
							<li class="flex">
								<ConditionalLink href={website} class="group">
									<h4 class="text-2xl">
										<span>
											<span class="font-bold">
												{role}
											</span>
											<span class="px-0.5 opacity-70">
												at
											</span>
											<span class="font-bold">
												{company}
											</span>
										</span>
										{website && (
											<span class="group-hover:text-accent opacity-30 ml-0.5 group-hover:opacity-100 transition text-xl">
												<RxArrowTopRight className="inline-block align-baseline" />
											</span>
										)}
									</h4>
									<time
										class="block opacity-70"
										datetime={start.toISOString()}
									>
										{timeRange}
									</time>
								</ConditionalLink>
							</li>
						);
					}
				)
			}
		</ol>
		<p class="mt-4 font-medium opacity-70">
			Previously a designer at {previousWork}.
		</p>
	</section>
	<List list={posts} title="Writing" />
	<List list={speaking} title="Speaking" />
</Layout>
