---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { RxArrowTopRight } from 'react-icons/rx';

import Section from '@components/Section.astro';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.year.valueOf() - a.data.year.valueOf(),
);
---

{
	projects && (
		<Section title="Select Projects">
			<ul class="space-y-8 text-xl">
				{projects.map(
					({
						data: {
							company,
							cover,
							coverAlt,
							intro,
							title,
							url,
							year,
						},
					}) => (
						<li>
							<p class="line-length-lg">
								{url ? (
									<a
										href={url}
										class="decoration-accent text-strong group font-medium whitespace-nowrap underline decoration-2 underline-offset-4 hover:decoration-3 focus:outline-0"
									>
										{title}
										<span class="group-hover:text-accent group-focus-within:text-accent text-weak ml-0.5 text-xl transition">
											<RxArrowTopRight className="inline-block align-text-bottom" />
										</span>
									</a>
								) : (
									<span class="decoration-weak text-strong font-medium whitespace-nowrap underline decoration-2 underline-offset-4">
										{title}
									</span>
								)}
								{' — '}
								<span>{intro}</span>
							</p>
							{cover && coverAlt && (
								<div class="bg-accent bg-opacity-50 mt-4 aspect-video overflow-hidden rounded-lg shadow-2xl">
									<Image src={cover} alt={coverAlt} />
								</div>
							)}
						</li>
					),
				)}
			</ul>
		</Section>
	)
}
