---
import { getCollection } from 'astro:content';
import { differenceInYears } from 'date-fns';
import { RxArrowTopRight } from 'react-icons/rx';

import ConditionalLink from '@components/ConditionalLink.astro';
import Section from '@components/Section.astro';

const roles = (await getCollection('roles')).sort(
	(a, b) => b.data.start.valueOf() - a.data.start.valueOf(),
);

const roleCutoff = 10;

const recentRoles = roles.filter(
	role =>
		!role.data.end ||
		differenceInYears(new Date(), role.data.end) <= roleCutoff,
);

const previousRoles = roles
	.filter(
		({ data: { end } }) =>
			end && differenceInYears(new Date(), end) > roleCutoff,
	)
	.map(({ data: { company } }) => company)
	.reduce(
		(a, b, i, array) => a + (i < array.length - 1 ? ', ' : ', and ') + b,
	);
---

{
	roles && (
		<Section title="Roles">
			<ol class="space-y-5">
				{recentRoles.map(
					({
						data: { company, start, end, role, website, acquired },
					}) => {
						const rangeStart = new Date(start).getUTCFullYear();
						const rangeEnd = end
							? new Date(end).getUTCFullYear()
							: 'Now';
						return (
							<li class="flex">
								<ConditionalLink
									href={website}
									class="group focus:outline-0"
								>
									<h4 class="text-2xl">
										<span>
											<span class="font-medium">
												{role}
											</span>
											<span class="text-subdued">at</span>
											<span class="decoration-accent text-strong font-medium whitespace-nowrap underline decoration-2 underline-offset-4 group-hover:decoration-3 group-focus-visible:decoration-3">
												{company}
											</span>
										</span>
										{website && (
											<span class="group-hover:text-accent group-focus-visible:text-accent text-weak ml-0.5 text-xl transition">
												<RxArrowTopRight className="inline-block align-baseline" />
											</span>
										)}
									</h4>
									<div class="flex items-center gap-2">
										<time
											class="text-subdued text-md block font-medium"
											datetime={start.toISOString()}
										>
											{rangeStart} — {rangeEnd}
										</time>
										{acquired && (
											<span class="text-md text-weak font-medium">
												(Acquired)
											</span>
										)}
									</div>
								</ConditionalLink>
							</li>
						);
					},
				)}
			</ol>
			<p class="text-subdued mt-3 font-medium">
				Previously a designer at {previousRoles}.
			</p>
		</Section>
	)
}
